body{
   background-image: url("../Images/Fondo.jpg");
   color: $color-secundary;
}

header {
   display: flex ;
   justify-content: center;
   background-color: $color-primary;
   padding: 15px ;
}

.menu-site{
   background-color: darkcyan;
   color:$color-primary;
   padding: 1rem;
   text-decoration: none;
   border: 5px solid $color-secundary;
   transition: all 1s;
}

.menu-site:hover{
   color: darkcyan;
   background-color: $color-primary;
   border: 5px solid $color-secundary;
}

nav ul {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
}
   nav ul li {
   margin: 10px;
   }

nav ul li a {
   color: darkblue;
   text-decoration: none;
}

nav ul li a:hover {
   color: $color-secundary;
}

.ul{
   list-style: none ;


}

.d-block{
 width: 450px;
 height: 500px;
 padding: 0%;
 border: 5px darkorange solid;
 
}


.contenedor {  
 display: grid;
 gap:1px;
 grid-template-areas:
   "area1 area2 area3";
}

.area1 { grid-area: area1; }

.area2 { grid-area: area2; }

.area3 { grid-area: area3; }

.servicios {
   color: $color-primary;
   border: 5px solid;
   background-color: darkcyan;
}
.form{
   color: $color-secundary;
   background-color: darkslategray;
   border-color: $color-primary;
   padding: 50px;
   height: 100%;
}
.texto-aviso{
   padding:50px;
   margin: 10px;
   color: red;
   background-color: yellow;
   font-size: 30px;
}

.map{
   display: inline-block;
   display: block;
   margin: 0 auto;
}
.list-group{
   color: $color-primary;
   border: 3px gold solid;
   border-radius: 3px;
}